@import "tailwindcss";
/* .conteiner{
    display: flex;
    flex-wrap: wrap;
    gap:5px ;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: #2d2d2d;
} */