@import "tailwindcss";




  
/* .container{
    background-color: #2d2d2d;
    padding: 80px;
    color: white;
}

.container ul{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    gap: 20px;
    list-style-type: none;
    font-size: 1.3rem;
    font-family: sans-serif;
}  */